{{define "footer_log.gohtml" -}}
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>AI Chat</strong>
        </p>
    </div>
</footer>
<script>
    htmx.logAll();
</script>
{{- end}}